<!-- begin advantages -->
<section class="advantages">
  <div class="container">
    <div class="advantages__wrapper">
      <h2 class="advantages__title title">What makes our Wordpress hosting is Best?</h2>
      <p class="advantages__text text">We'll help you find the right blend of our technologies and service expertise to power your enterprise performance. Join Bhost now and get a free domain name!</p>
      <ul class="advantages__list">
        {% for item in data.advantages %}
        <li class="advantages__item">
          <img class="advantages__icon" src="{{ item.image }}" alt="Icon"/>
          <h3 class="advantages__subtitle title title_small title_font">{{ item.title }}</h3>
          <p class="advantages__subtext text">{{ item.text }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- end advantages -->

