<!-- begin experience -->
<section class="experience">
  <div class="container">
    <div class="experience__wrapper">
      <div class="experience__inner">
        <h2 class="experience__title title title_smaller title_left">Experienced we are</h2>
        <p class="experience__text text text_left">Without the best web hosting, your ability to run a successful website is going to be seriously hindered. There is a dizzying array of web hosting providers competing for your business.</p>
        <p class="experience__text text text_left">We are experienced, last 15 years we lead the world in hosting service. if you need any hosting services? we are eagerly wating for you.</p>
        <ul class="experience__list">
          {% for item in data.experience %}
          <li class="experience__item">
            <div class="experience__item-icon experience__item-icon_{{ item.color }}">{{ mixins.icon(item.image) }}</div>
            <p class="experience__item-text">
              <span class="experience__info">{{ item.info }}</span>
              <span class="experience__value">{{ item.value }}</span>
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="experience__image">
        <img class="experience__photo" src="./img/image-1.jpg" alt="A man with the team"/>
      </div>
    </div>
  </div>
</section>
<!-- end experience -->

