<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__heading">
        <div class="footer__info">
          <a class="footer__logo logo" href="#">
            <img class="logo__image" src="./img/logo-blue.png" alt="Logo" width="70" height="48"/>
            <span class="logo__word logo__word_blue">bhost</span>
          </a>
          <div class="footer__address">
            <span class="footer__address-item">Road No- 6, House- 25/A,</span>
            <span class="footer__address-item">Dreamland Tower,</span>
            <span class="footer__address-item">Mancity</span>
          </div>
          <div class="footer__follow">
            <span class="footer__text">Follow Us</span>
            <ul class="footer__socials socials socials_row">
              {% for icon in data.socials %}
              <li class="socials__icon socials__icon_color" aria-label="{{ icon.label }}">
                <a class="socials__link {% if icon.color %}socials__link_{{ icon.color }}{% endif %}" href="#">{{ mixins.icon(icon.image) }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <ul class="footer__list">
          {% for item in data.footerList %}
          <li class="footer__list-item">
            <h5 class="footer__item-title">{{ item.title }}</h5>
            <ul class="footer__sublist">
              {% for point in item.menu %}
              <li class="footer__point {% if point.status %} {{ point.status }} {% endif %}">
                {% if point.link %}
                <a class="footer__link" href="{{ point.link }}">{{ point.name | safe }}</a>
                {% else %}
                <p class="footer__link footer__link_unhover">{{ point.name | safe}}</p>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer__down">
        <span class="footer__copyright">&copy; 2017 Roy Design. All Rights Reserved </span>
        <ul class="footer__menu">
          {% for item in data.footerMenu %}
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">{{ item }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
