<!-- begin info -->
<section class="info">
  <div class="info__image">
    <img class="info__photo" src="./img/image-3.jpg" alt="Young man"/>
  </div>
  <div class="info__content">
    <h2 class="info__title title title_left title_white">Web site builder</h2>
    <p class="info__text text text_white text_left">Website hosting services are basically the plot of internet land that your website storefront sits on. If you have a website, it need to be be on the web, these hosting services are the landlords that put up your site and keep it running.</p>
    <p class="info__text text text_white text_left">So your customer can access and see it when they type in your url. There are different types of hosting services that cater to  varying types of businesses. </p>
  </div>
</section>
<!-- end info -->

