<!-- begin packages -->
<section class="packages">
  <div class="container">
    <div class="packages__wrapper">
      <h2 class="packages__title title">Choose your package</h2>
      <p class="packages__text text">Find the Perfect Hosting Package for You, Get the Best Web Hosting Deals Today! Bhost is one of the best  web hosting services. Join Bhost now and get a free domain name!</p>
      <div class="packages__list slider-packages js-slider-packages owl-carousel owl-theme">
        {% for slide in data.sliderPackages %}
        <div class="slider-packages__slide">
          <h3 class="slider-packages__title title title_smaller title_left title_font">{{ slide.title }}</h3>
          <div class="slider-packages__small-wrapper">
            <div class="slider-packages__inner">
              <div class="slider-packages__features">
                <span class="slider-packages__price">
                  <img class="slider-packages__icon" src="{{ slide.icon }}" alt="Icon"/>
                  <span class="slider-packages__amount">{{ slide.price }}</span>
                </span>
                <ul class="slider-packages__list">
                  {% for item in slide.points %}
                  <li class="slider-packages__item">{{ mixins.icon('check') }}{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
              <p class="slider-packages__text text text_left">{{ slide.text }}</p>
              <a class="slider-packages__button button button_white" href="{{ slide.button.link }}">{{ slide.button.text }}</a>
            </div>

            <div class="slider-packages__image">
              <img class="slider-packages__photo" src="{{ slide.image }}" alt="{{ slide.alt }}"/>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end advantages -->

