<!-- begin statistics -->
<section class="statistics">
  <div class="container">
    <div class="statistics__wrapper">
      <ul class="statistics__list" id="counters">
        {% for item in data.statistics %}
        <li class="statistics__item">
          <div class="statistics__image">
            {{ mixins.icon(item.iconFirst) }}
            <div class="statistics__icon">{{ mixins.icon(item.iconSecond) }}</div>
          </div>
          <span class="statistics__value" id="{{ item.id }}">{{ item.value }}</span>
          <span class="statistics__text">{{ item.text }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- end statistics -->

