<!-- begin subscribe -->
<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <div class="subscribe__inner subscribe__inner_column">
        <h2 class="subscribe__title title title_white">Subscribe our newsletter</h2>
        <span class="subscribe__subtitle">Singup for our news letter</span>
      </div>
      <div class="subscribe__inner">
        <form class="subscribe__form" action="#" method="get">
          <input class="subscribe__input" type="email" placeholder="Enter your email address" name="subscribe" id="subscribe"/>
          <button class="subscribe__button" type="submit">Subscribe</button>
        </form>
        <div class="subscribe__popup popup">
          <div class="popup__icon">{{ mixins.icon('phone') }}</div>
          <span class="popup__title">Need help?</span>
          <span class="popup__subtitle">Call us!</span>
          <a class="popup__tel" href="tel:+91254754785">+91 254 754 785</a>
          <button class="popup__button button button_font" type="button">Live chat</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->

